The easiest way for engineering managers, product managers, and other stakeholders
to get a high-level overview of the status of all issues in the current milestone,
or all issues assigned to specific person, is through the [Development issue board],
which has columns for each of the workflow labels described below.

| Label | Meaning |
|-------|---------|
| ~"workflow::ready for development" | _Currently unused by us:_ Requirements and expectations are clear enough for development to start |
| ~"workflow::In dev" | A solution is being investigated or implemented |
| ~"workflow::In review" | A merge request has been submitted and is being reviewed, or feedback is being addressed |

As owners of the issues assigned to them, engineers are expected to keep the
workflow labels on their issues up to date, either by manually assigning the new
label, or by dragging the issue from one column on the board to the next.

[Development issue board]: https://gitlab.com/groups/gitlab-org/-/boards/363876?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=<%= group_label %>&label_name[]=backend&label_name[]=Deliverable
